.home-widget {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	position: relative;

	img {
		filter: brightness(55%);
		// width: 90%;
	}

	div {
		position: absolute;
	}

	.text {
		color: $color-light;
		font-weight: $font-weight-regular;
		font-style: italic;
		font-size: 35px;
		text-align: left;
		max-width: 700px;
		width: 70%;
		margin-top: 10%;
		// margin-right: 300px;
	}
}

.section-title {
	color: $color-gold;
	word-spacing: 7px;
	letter-spacing: 4px;
	font-size: 25px;
	justify-content: center;
	position: relative;
}

.join {
	text-align: right;
}

.about-line {
	width: 400px;
}
