*,
*::begore,
*::after {
  box-sizing: bprder-box;
}

body {
  margin: 0;
  background: lighten($color-dark, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  color: $color-light;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.sectionn-title {
  justify-content: center;
  position: relative;
  display: flex;
}

h2 {
  font-size: 42px;
  color: $color-gold;
  letter-spacing: 5px;
}

.section-title-lin {
  border-top: 4px solid $color-gold;
  margin: 30px 0 0 0;
  top: 69%;
  position: absolute;
}
