$font-text :'Source Sans Pro', sans-serif;
$color-gold: #BEA67C;
$color-dark: #000;
$color-light:#fff;
$base-size: 15px;
$transition: all .3s;
$radius: 4px;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-black: 900;